<div class="container">
    <div class="row">
      <div class="col-12">
          <h2>Bid Info</h2>
          <div class="card" ">
              <img src="<%= bid.accomodationImage %>" class="img-thumbnail" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= bidOwner.name %></h5>
                <p class="card-text">Bid value: $<%= bid.bidValue %></p>
                <p class="card-text">Bid Description: <%= bid.bidDescription %></p>
                <p class="card-text"><%= bidOwner.accomodationDescription %> </p>
                <p class="card-text"><%= bidOwner.accomodationAddress %> </p>
              </div>
            </div>

<!-- <div class="border border-primary rounded">
  <h3><%= bidOwner.name %></h3>
  <h5>Bid value: $<%= bid.bidValue %></h5>
  <h5>Bid Description: <%= bid.bidDescription %></h5>
  <p> <%= bidOwner.accomodationDescription %> </p>
 -->

<% if (bid.userID == userID && bid.Status === 0) { %>
  <div>
    <form class=" d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/bid/<%= bid._id %>/update" method="get">
      <input class="btn btn-primary" type="submit" value="Update">
    </form>
    <form class=" d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/bid/<%= bid._id %>/delete" method="post">
      <input  class="btn btn-danger" type="submit" value="delete">
    </form>
  </div>
<% } %>
</div>
<br>

<div>
<% if (bid.userID == userID && bid.Status === 1) { %>
 <h4>Congratulations, your bid was accepted</h4>
<% } %>

<% if (bid.userID == userID && bid.Status === 2) { %>
 <h4>Sorry, your bid was rejected</h4>
<% } %>

<% if (offer.userID == userID && bid.Status === 0) { %>
  <div>
    <form class=" d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/bid/<%= bid._id %>/accept" method="get">
      <input class="btn btn-primary" type="submit" value="Accept">
    </form>
    <form class=" d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/bid/<%= bid._id %>/decline" method="get">
      <input class="btn btn-danger" type="submit" value="Decline">
    </form>
  </div>
<% } %>
</div>
</div>
</div>
</div> 