 <!DOCTYPE html>
<html>
  <head>
  <meta charset='utf-8' />
  <title>Set a point after Geocoder result</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map {  width:100%; }
  </style>
  </head>
<body>

 <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />
  <style>
    #geocoder-container > div {
    min-width:50%;
    margin-left:25%;
    }
  </style>


<div class="container">
    <div class="row">
      <div class="col-12">
          <h2>Bid Info</h2>
          <div class="card" ">
              <img src="<%= room.accomodationImage %>" class="img-thumbnail" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= bidOwner.name %></h5>
                <p class="card-text">Bid value: $<%= bid.bidValue %></p>
                <p class="card-text">Bid Description: <%= bid.bidDescription %></p>
                <p class="card-text"><%= bidOwner.accomodationDescription %> </p>
              </div>
            </div>

<!-- <div class="border border-primary rounded">
  <h3><%= bidOwner.name %></h3>
  <h5>Bid value: $<%= bid.bidValue %></h5>
  <h5>Bid Description: <%= bid.bidDescription %></h5>
  <p> <%= bidOwner.accomodationDescription %> </p>
 -->

<% if (bid.userID == userID && bid.Status === 0) { %>
  <div class="text-center">
    <form class="bid-buttons d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/bid/<%= bid._id %>/update" method="get">
      <input class="btn btn-primary" type="submit" value="Update">
    </form>
    <form class="bid-buttons d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/bid/<%= bid._id %>/delete" method="post">
      <input  class="btn btn-danger" type="submit" value="delete">
    </form>
  </div>
<% } %>
</div>
<br>

<!--<%- include('../partials/maps') %>-->

<div id='map'></div>

<div>
<% if (bid.userID == userID && bid.Status === 1) { %>
 <h4>Congratulations, your bid was accepted</h4>
<% } %>

<% if (bid.userID == userID && bid.Status === 2) { %>
 <h4>Sorry, your bid was rejected</h4>
<% } %>

<% if (offer.userID == userID && bid.Status === 0) { %>
  <div>
    <form class=" d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/bid/<%= bid._id %>/accept" method="get">
      <input class="btn btn-primary" type="submit" value="Accept">
    </form>
    <form class=" d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/bid/<%= bid._id %>/decline" method="get">
      <input class="btn btn-danger" type="submit" value="Decline">
    </form>
  </div>
<% } %>

</div>
</div>
</div>
</div> 



<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibWFyZ2FsIiwiYSI6ImNqdDRqbGJ2MzA0Mmc0NG55Y29sNnR1djUifQ.7_iCD0Qq6rri-WgOaFmCAg';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v9',
  center: [<%=room.location.coordinates[0]%>, <%=room.location.coordinates[1]%>],
  zoom: 17
});

var geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken
});

geocoder.on('result', (response) => {
  console.log('response', response);
  // pillar la geo lat lng 
  // añadir a input oculto 
  // 
})

map.addControl(geocoder);

// After the map style has loaded on the page, add a source layer and default
// styling for a single point.
map.on('load', function() {
  map.addSource('single-point', {
  "type": "geojson",
    "data": {
    "type": "FeatureCollection",
    "features": []
  }
});

  map.addLayer({
    "id": "point",
    "source": "single-point",
    "type": "circle",
    "paint": {
      "circle-radius": 10,
      "circle-color": "#007cbf"
    }
  });

  // Listen for the `result` event from the MapboxGeocoder that is triggered when a user
  // makes a selection and add a symbol that matches the result.
  geocoder.on('result', function(ev) {
    map.getSource('single-point').setData(ev.result.geometry);
    });
    
});

</script>
