
<form class="active-cyan-3 active-cyan-4 mb-4 row justify-content-center" action="/dashboard/search" method="get">
    <label for="search"></label>
    <input class="form-control-lg border border-primary" type="text" name="search" id="">
    <input class="btn btn-lg btn-outline-success my-2 my-sm-0" type="submit" value="Search offers">
</form>


<br>
<div>
  <h3>Your Offers</h3>
  <div class="container">
    <% offers.forEach((offer) => { %>
      <div class= "col-12 border border-primary rounded dashboard-results">
        <div <% if ( offer.Status === 1) { %> class="alert alert-success" <% 
          } else { %> class= "alert alert-light" <% } %> >
          <a href="/dashboard/offer/<%= offer._id%>">
              <%= offer.location %> <br>
             Offered budget: <%= offer.budget %>
          </a>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<h4 class="text-center"><a class="btn btn-primary" href="/dashboard/create">Create Offer</a></h4>

<br>
<br>
<div>
  <h3>Your Bids</h3>
  <div class="container">
    <% bids.forEach((bid) => { %>
      <div class="col-12 border dashboard-results border border-primary rounded">
        <div <% if ( bid.Status === 1) { %> class="alert alert-success" <% 
          } else if ( bid.Status === 2) { %> class= "alert alert-danger" <% 
          } else { %> class= "alert alert-light" <% } %> >
            <a href="/dashboard/bid/<%= bid._id %>">
            Value: <%= bid.bidValue %> <br>
            Description: <%= bid.bidDescription %><br><br>
            </a>
          </div>
      </div>
    <% }) %>
  </div>
</div>

<br>

<br>
<a href="/logout">Logout</a>


