<h1>Welcome <%= currentUser.name %> </h1>
<br>
<div>
  <h3>Open Offers</h3>
  <div>
    <% offers.forEach((offer) => { %>
      <div>
        <ul>
          <li>
            <a href="/dashboard/offer/<%= offer._id%>">
              <%= offer.location %> <br>
             Offered budget: <%= offer.budget %><br><br>
            </a>
          </li>
        </ul>
      </div>
    <% }) %>
  </div>
</div>
<h4><a class="btn btn-primary" href="/dashboard/create">Create Offer</a></h4>

<br>
<br>
<div>
  <h3>Open Bids</h3>
  <div>
    <% bids.forEach((bid) => { %>
      <div>
        <ul>
          <li>
            <a href="/dashboard/bid/<%= bid._id %>">
            Value: <%= bid.bidValue %> <br>
            Description: <%= bid.bidDescription %><br><br>
            </a>
          </li>
        </ul>
      </div>
    <% }) %>
  </div>
</div>


<br>
<form class="active-cyan-3 active-cyan-4 mb-4" action="/dashboard/search" method="get">
    <label for="search"></label>
    <input class="form-control mr-sm-2"type="text" name="search" id="">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="search">
</form>

<br>
<a href="/logout">Logout</a>


