<div class="container">
      <form class="form-inline my-2 my-lg-0" action="/dashboard/search" method="get">
        <input class="form-control mr-sm-2" type="text" name="search" id="" placeholder="Search Offers">
        <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="Search" id="button-search">
      </form>    
<div class="row ">
  <div class="col-12">
    <h3>Your Offers</h3>
  </div>
  <div class="container">
    <% offers.forEach((offer) => { %>
      <div class="card" ">
          <div class="card-body">
            <h5 class="card-title"><%= offer.location %></h5>
            <p class="card-text">Offered budget: <%= offer.budget %></p>
            <a href="/dashboard/offer/<%= offer._id%>" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      <div class= "col-12 border border-primary rounded dashboard-results">
        <div <% if ( offer.Status === 1) { %> class="alert alert-success" id="box-color" <% 
          } else { %> class= "alert alert-light" id="box-color" <% } %> >
          <a href="/dashboard/offer/<%= offer._id%>">
              <%= offer.location %> <br>
             Offered budget: <%= offer.budget %>
          </a>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<h4 class="text-center"><a class="btn btn-primary" href="/dashboard/create">Create Offer</a></h4>

<br>
<br>
<div>
  <div class="col-12">
   <h3>Your Bids</h3>
  </div>
  <div class="container">
    <% bids.forEach((bid) => { %>
      <div class="col-12 border dashboard-results border border-primary rounded">
        <div <% if ( bid.Status === 1) { %> class="alert alert-success" id="box-color" <% 
          } else if ( bid.Status === 2) { %> class= "alert alert-danger" id="box-color" <% 
          } else { %> class= "alert alert-light" <% } %> >
            <a href="/dashboard/bid/<%= bid._id %>">
            Value: <%= bid.bidValue %> <br>
            Description: <%= bid.bidDescription %><br><br>
            </a>
          </div>
      </div>
    <% }) %>
  </div>
</div>

<a href="/logout">Logout</a>
</div>

