<div class="container text-center">
  <h2>Offer info</h2>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card-container manual-flip">
          <div class="card">
           <div class="front">
               <div class="cover">
                   <img src="/img/1.jpg"/>
               </div>
               <div class="user">
                   <img class="img-circle" src="<%=offerOwner.userImage%>"/>
               </div>
               <div class="content">
                   <div class="main">
                       <h3 class="name"><%= offer.location %></h3>
                       <p class="profession">From: <%= offer.from.toDateString() %></p>
                       <p class="text-center"> Until: <%= offer.until.toDateString()  %></p>
                       <p class="text-center">  Offered budget: <%= offer.budget %></p>
                   </div>
                <% if (offer.userID == userID && offer.Status === 0 ) { %>
                <div class="container text-center">
                  <form class=" d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/offer/<%= offer._id %>/update" method="get">
                    <input  class="btn btn-primary" type="submit" value="Update">
                  </form>
                  <form class="d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/offer/<%= offer._id %>/delete" method="post">
                    <input class="btn btn-danger" type="submit" value="delete">
                  </form>
                </div>
                <% } %>
              
                <% if (offer.userID != userID) { %>
                 <div class="text-center">
                    <button class="d-inline-block active-cyan-3 active-cyan-4 mb-4 btn-primary rounded" onclick="rotateCard(this)">
                        See more
                    </button>
                 </div>
                <% } %>
              </div>
           </div> 
           <!-- end front panel -->

          <!-- Start of back panel -->
           <div class="back">
             <div class="content">
                  <div class="main">
                    <br>
                     <h4 class="text-center"><%= offerOwner.name %></h4>
                     <p class="text-center"><%= offerOwner.age %></p>
                     <p class="text-center"><%= offerOwner.description %></p>
                     <div class="stats-container">
                        <div class="stats">
                          <h4>235</h4>
                          <p>
                            Followers
                          </p>
                        </div>
                        <div class="stats">
                          <h4>20</h4>
                          <p>
                            Reviews
                          </p>
                        </div>
                        <div class="stats">
                          <h4>5</h4>
                          <p>
                            Offers
                          </p>
                        </div>
                    </div>
                </div>

              <br><br><br>
              <div class="social-links text-center">
              <a href="http://deepak646.blogspot.in/" class="facebook col-4"> <img src="/img/facebook.png" width="50" height="40" alt="" srcset=""></a>
              <a href="http://deepak646.blogspot.in/" class="google col-4" ><img src="/img/twitter.png" width="40" height="40" alt="" srcset=""></a>
              <a href="http://deepak646.blogspot.in/" class="twitter col-4"> <img src="/img/insta.png" width="40" height="40" alt="" srcset=""></a>
            </div>
         </div>
         <div class="footer">
           <button class="d-inline-block active-cyan-3 active-cyan-4 mb-4 btn-primary rounded" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
               back
           </button>         
         </div>
       </div> <!-- end back panel -->
      </div> <!-- end card -->
   </div> <!-- end card-container -->
  </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->
</div> 

  <br>
  <h2>Bids</h2>
  <div class="container">
    <div class="row">
      <% bids.forEach((bid) => { %>
        <div class="card col-md-12 col-sm-12">
            <img src="<%= bid.accomodationImage %>"class="img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title">Offered bid <%= bid.bidValue %></h5>
              <p class="card-text">Description <%= bid.bidDescription %></p>
              <% if (bid.Status === 1) { %> 
                <div class="alert alert-success" role="alert">
                  Bid Aceptada !!!
                </div><% 
              } else if (bid.Status === 2) { %> 
                <div class="alert alert-danger" role="alert">
                  Bid Denegada
                </div>
                <% } %>
            </div>
            <a href="/dashboard/bid/<%= bid._id %>" class="btn btn-dark">Info</a>
          </div>
      <% }) %>
    </div>
  </div>

  <% if (offer.userID != userID) { %>
  <div>
    <form class=" d-inline-block active-cyan-3 active-cyan-4 mb-4" action="/dashboard/offer/<%= offer._id %>/bidnew" method="get">
      <input class="btn btn-lg btn-primary" type="submit" value="Place a Bid">
    </form>
  </div>
  <% } %>


<script type="text/javascript">

$().ready(function(){
  $('[rel="tooltip"]').tooltip();
});

function rotateCard(btn){
  var $card = $(btn).closest('.card-container');
  if($card.hasClass('hover')){
      $card.removeClass('hover');
  } else {
      $card.addClass('hover');
  }
}
 </script>

