<h2>Offer info</h2>

<div>
  <%= offer.location %> <br>
  From: <%= offer.from %> <br>
  Until: <%= offer.until %> <br>
  Offered budget: <%= offer.budget %>

<% if (offer.userID == userID) { %>
  <div class="container">
    <form class="active-cyan-3 active-cyan-4 mb-4" action="/dashboard/offer/<%= offer._id %>/update" method="get">
      <input type="submit" value="Update">
    </form>
    <form class="active-cyan-3 active-cyan-4 mb-4" action="/dashboard/offer/<%= offer._id %>/delete" method="post">
      <input class="btn btn-danger" type="submit" value="delete">
    </form>
  </div>
<% } %>
</div>

<h2>Bids</h2>
<div>
  <div>
    <% bids.forEach((bid) => { %>
      <div>
        <ul>
          <li>
            <a href="/dashboard/bid/<%= bid._id %>">
             Description <%= bid.bidDescription %> <br>
             Offered bid <%= bid.bidValue %><br><br>
            </a>
          </li>
        </ul>
      </div>
    <% }) %>
  </div>
</div>

<% if (offer.userID != userID) { %>
<div>
  <form action="/dashboard/offer/<%= offer._id %>/bidnew" method="get">
    <input type="submit" value="bid">
  </form>
</div>
<% } %>

<a href="/dashboard">Home</a>
 

