<form id="form" action="/dashboard/offer/<%= offer._id%>/update" method="POST">
  <label for="from">From:</label>
  <input type="date" id="from" name="from" value="<%= offer.from %>">

  <label for="until"> Until:</label>
  <input type="date" id="until" name="until" value="<%= offer.until%>">

  <label for="location"> Location:</label>
  <input type="text" id="location" name="location" value="<%= offer.location %>">

  <label for="budget"></label><br>
  <input type="text" name="budget" placeholder="budget" value="<%= offer.budget %>">

  <button type="submit">Update</button>
 
</form>
<br><br>
<a href="/">Go Back</a>