<form class="container text-center" id="form" action="/user/update" enctype="multipart/form-data"  method="POST">
  <div class="form-group">
    <label for="name"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="name" placeholder="Your name" value="<%= user.name %>">
  </div>
  <div class="form-group">
    <label for="age"></label><br>
    <input type="number" class="form-control-lg border border-primary" name="age" placeholder="age" value="<%= user.age %>">
  </div>
  <div class="form-group">
    <label for="gender"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="gender" placeholder="gender" value="<%= user.gender %>">
  </div>
  <div class="form-group">
    <label for="description"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="description" placeholder="description" value="<%= user.description %>">
  </div>
  <div class="form-group"> 
    <label for="accomodationAddress"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="accomodationAddress" placeholder="Enter address" value="<%= user.address%>">
  </div>
  <div class="form-group">
    <label for="accomodationDescription"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="accomodationDescription" placeholder="Describe" value="<%= user.accomodationDescription %>">
  </div>
  <div class="form-group">
      <label >Room Photography</label><br>
      <input type='file' name='image'/>
  </div>

  <button class="btn btn-primary" type="submit"> Update account</button>
  <br>
  <a href="/user">Cancel</a>
</form>
