
 <div class="container">  
   <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
   <style>
     body { margin:0; padding:0; }
     #map {  width:100%;}
     canvas{position: static;}
   </style>
 
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
   <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />
   <style>
     #geocoder-container > div {
     min-width:100%;
     margin-left:25%;
     }
   </style>


<form class="container text-center" id="form" action="/user/update" method="POST">
  <div class="form-group">
    <h2>Update your profile</h2>
    <label for="name"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="name" value="<%= user.name %>" placeholder="<%= user.name %>">
  </div>
  <div class="form-group">
    <label for="age"></label><br>
    <input type="number" class="form-control-lg border border-primary" name="age" value="<%= user.age %>" placeholder="<%= user.age %>">
  </div>
  <div class="form-group">
    <label for="gender"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="gender" value="<%= user.gender %>" placeholder="<%= user.gender %>">
  </div>
  <div class="form-group">
    <label for="description"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="description" value="<%= user.description %>" placeholder="<%= user.description %>">
  </div>
  <button class="btn btn-primary" type="submit"> Update account</button>
  <br>
</form>



<form class="container text-center" id="form" action="/user/update/room" enctype="multipart/form-data"  method="POST">
  <div class="form-group">
    <h2>Create your Room</h2>
    <h3>Room Description</h3><br>
    <input type="text" class="form-control-lg border border-primary" name="accomodationDescription" placeholder="accomodationDescription" value="">
  </div>
  <h3>Street address</h3><br>
  <div  class="col-12" id='map' style="display:flex"></div>
  <div class="form-group"> 
    <input type="hidden" class="form-control-lg border border-primary" name="location" id="location" >
  </div>
  <div class="form-group"> 
    <input type="hidden" class="form-control-lg border border-primary" name="location2" id="location2" >
  </div>
    <h4 style="margin-top:5%; margin-bottom:0%">Room Picture</h4><br>
    <input type='file' name='image' />
  <div>
      <h4 style="margin-top:5%; margin-bottom:0%">What do you want to list ?</h4><br>
    <input type="radio" name="private" id=""> Private Room <br>
    <input type="radio" name="private" id=""> Shared Room <br>
    <input type="radio" name="private" id=""> Entire Property <br>
  </div>
  <div>
      <label >Choose the amenities</label><br>
      <img src="/img/television.svg" class="icono" alt=""><input type="checkbox" name="tv" id="">
      <img src="/img/wifi.svg" class="icono" alt=""><input type="checkbox" name="wifi" id="">
      <img src="/img/acondicionador-de-aire.svg" class="icono" alt=""><input type="checkbox" name="air" id="">
      <img src="/img/garaje.svg" class="icono" alt=""><input type="checkbox" name="garage" id="">
      <img src="/img/ascensor.svg" class="icono" alt=""><input type="checkbox" name="ascensor" id="">
      <img src="/img/termometro.svg" class="icono" alt=""><input type="checkbox" name="termo" id="">
      <img src="/img/lavadora.svg" class="icono" alt=""><input type="checkbox" name="washer" id="">
      <img src="/img/piscina.svg" class="icono" alt=""><input type="checkbox" name="pool" id="">
      <img src="/img/ducha.svg" class="icono" alt=""><input type="checkbox" name="privatebathroom" id="">
      <img src="/img/silla-de-ruedas.svg" class="icono" alt=""><input type="checkbox" name="wheelchair" id="">
  </div>
  <div>
      <label >Are there any house rules?</label><br>
      <img src="/img/cigarrete.svg" class="icono" alt=""><input type="checkbox" name="smoke" id="">
      <img src="/img/mascotas.svg" class="icono" alt=""><input type="checkbox" name="pet" id="">
      <img src="/img/pareja.svg" class="icono" alt=""><input type="checkbox" name="couples" id="">
  </div>
  <button class="btn btn-primary" type="submit"> Create Room</button>
  <a class="btn btn-danger" href="/user">Cancel</a>
</form>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibWFyZ2FsIiwiYSI6ImNqdDRqbGJ2MzA0Mmc0NG55Y29sNnR1djUifQ.7_iCD0Qq6rri-WgOaFmCAg';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v9',
  center: [0, 0],
  zoom: 17
});


var geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken
});

geocoder.on('result', (response) => {
  console.log(response);
  const location = document.getElementById("location");
  location.value = response.result.geometry.coordinates[0];
  const location2 = document.getElementById("location2");
  location2.value = response.result.geometry.coordinates[1];
// pillar la geo lat lng 
// añadir a input oculto 
})

map.addControl(geocoder);

// After the map style has loaded on the page, add a source layer and default
// styling for a single point.
map.on('load', function() {
  map.addSource('single-point', {
    "type": "geojson",
      "data": {
      "type": "FeatureCollection",
      "features": []
    }
});

map.addLayer({
  "id": "point",
  "source": "single-point",
  "type": "circle",
  "paint": {
    "circle-radius": 10,
    "circle-color": "#007cbf"
  }
});

// Listen for the `result` event from the MapboxGeocoder that is triggered when a user
// makes a selection and add a symbol that matches the result.
geocoder.on('result', function(ev) {
  map.getSource('single-point').setData(ev.result.geometry);
  });
  
});


</script>
</div>
