<div class="container text-center">
  <h2>Offer info</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="">
        <div class="card profile-card">
         <div class="front">
             <div class="cover">
                 <img src="/img/1.jpg"/>
             </div>
             <div class="user">
                 <img class="img-circle" src="<%= user.userImage%>"/>
             </div>
             <div class="content">
                 <div class="main">
                     <h3 class="name"><%= user.name %></h3>
                     <p class="profession"> <%=  user.email %></p>
                     <p class="profession"> <%=  user.age%></p>
                     <p class="text-center"> <%= user.description %></p>
                     <p class="text-center"> <%= user.accomodationDescription %></p>
                     <p class="text-center"> <%= user.accomodationAddress %></p>
                 </div>
                 <h4 class="text-center"><a class="btn btn-info" href="/user/update">Update profile</a></h4>
            </div>
         </div>
    </div> <!-- end card-container -->
  </div> <!-- end col sm 3 -->
       <!--<div class="col-sm-1"></div> -->
</div> 


